html {
    height: 100%;
    top: 0;
    margin: 0;
    -webkit-text-size-adjust: 100%; /* Prevent font scaling in landscape while allowing user zoom */
}
body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
        "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: rgb(0, 155, 160);
    height: 100%;
    margin: 0;
    overflow: hidden;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
#root {
    height: 100%;
    background: #fafafa;
    overflow: auto;
}

footer {
    bottom: 0px;
    width: 100%;
    padding: 0;
    margin: 0;

    color: #fafafa;
    position: fixed;
    text-align: center;
    font-size: 10px;
    box-shadow: 0px 2px 4px 2px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14),
        0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 20px 20px 0px 0px !important;
}
.MuiAppBar-root {
    border-radius: 0px 0px 10px 10px !important;
}
.pointer {
    cursor: pointer;
}

.full-width {
    width: 100%;
}
.margin-top-5 {
    margin-top: 5px;
}
.hiddenFieldset {
    border: 0;
}

.container {
    margin-top: 75px;
}

.flex-right {
    flex: 1 !important;
}

.snackbar {
    width: 50% !important;
}

.MuiDialogTitle-root {
    padding: 8px 24px !important;
}

.float-right {
    float: right;
}
.block {
    display: block;
    color: rgba(0, 0, 0, 0.38);
}

.floatRight {
    float: right;
}

.sub {
    vertical-align: sub !important;
}

.MuiSnackbarContent-action {
    padding-left: 0px !important;
}

* {
    touch-action: manipulation !important;
}

.margin-right-5 {
    margin-right: 5px !important;
}
